<%- include("partials/header") %>
	<h2 class="text-center">Appointment App</h2>
	<div class="row justify-content-center my-5">
		<p>
			<a class="btn btn-lg btn-outline-success mx-3" href="/appointment/new"><i class="far fa-plus-square"></i> New Appointment</a>
		</p>
		<p>
			<a class="btn btn-lg btn-outline-warning mx-3" href="/appointment/edit"><i class="fas fa-pencil-alt"></i> Change Appointment</a>
		</p>
	</div>
	<img src="https://www.sciencemag.org/sites/default/files/styles/inline__450w__no_aspect/public/dogs_1280p_0.jpg?itok=4t_1_fSJ" class="dogImage img-thumbnail">
	<br>
	<img src="https://cdn.mos.cms.futurecdn.net/BQVioEsc6QLjFtgycmAWYn.jpg" class="dogImage img-thumbnail">
<%- include("partials/footer") %>